<h1>Genre#edit</h1>
<p>Find me in app/views/genres/edit.html.erb</p>

<h1>Edit a Genre</h1>
<%= form_for(@genre) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <%= f.submit %>
<% end %>    