<h1>All Genres:</h3>

<% @Genres.each do |g| %>
  <p> <%= link_to g.name, genre_path(g) %></p>
  <ol>
    <% g.songs.each do |s| %>
      <li> <%= link_to s.name, song_path(s) %> </li>
    <% end %>
  </ol>
<% end %>
