<h1>Genre#new</h1>
<p>Find me in app/views/genres/new.html.erb</p>

<h1>New Genre</h1>
<%= form_for(@genre) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <%= f.submit %>
<% end %>   