<<<<<<< HEAD
<!--
print genre name and its songs and artists as lists-->
<h1><%= @genre.name %></h1>
=======
<!-- 
print genre name and its songs and artists as lists-->
>>>>>>> 8174feb6d371bdc77ba419bf74fb486d2ca12de6
