
<h3>Artist Form</h3>

<%= form_for(@artist) do |f| %>
  <label>Artist name:</label><br>
  <%= f.text_field :name %><br>

  <label>Artist Bio</label><br>
  <%= f.text_area :bio %><br>

  <%= f.submit %>
<% end %>