<h1>Edit Artist</h1>

<%= form_for(@artist) do |f| %>
	<label>Edit Name:</label><br>
	<%= f.text_field :name %><br>

	<label>Edit Bio:</label><br>
	<%= f.text_field :bio %><br>

	<%= f.submit %>
<% end %>
