<h1>Update Artist Form</h1>
<%= form_for(@artist) do |f|%>
  <label>Artist:</label>
  <%= f.text_field :name %>

  <br><br>

  <label>Bio:</label>
  <%= f.text_area :bio %>

  <br><br>

  <%= f.submit %>
<% end %>
