<h1>Artists Form</h1>

<%= form_for(@artist) do |f| %>
	<label>Artist name: </label>
	<%= f.text_field :name %> <br>

	<label>Artist bio: </label>
	<%= f.text_area :bio %><br>

	<%= f.submit %>

<% end %>