<h3>Artist Form</h3>

<%= form_for(@artist) do |a| %>
  <label>Artist  name:</label><br>
  <%= a.text_field :name %><br>

  <label>Artist bio:</label><br>
  <%= a.text_area :bio %><br>

  <%= a.submit %>
<% end %>