<h3>Artist From</h3>

<%= form_for @artist do |f| %>
	<label for="">Artist Name:</label><br>
	<%= f.text_field :name %><br>
	
	<label for="">Bio:</label><br>
	<%= f.text_area :bio %><br>
	
	<%= f.submit %>
<% end %>