<h1>Edit Existing Artist</h1>
<%= form_for @artist do |f| %>

  <label>Artist name:</label>
  <%= f.text_field :name %>

  <label>Artist bio:</label>
  <%= f.text_area :bio %>
  <%= f.submit %>

<% end %>
