<h1>Edit Artist</h1>

<%= form_for(@artist) do |f| %>

  <label>Name:</label><br>
  <%= f.text_field :name %><br>

  <label>Bio:</label><br>
  <%= f.text_area :bio, size: "50x20" %><br>

  <%= f.submit %>
<% end %>