<h1>Artists#index</h1>
<p>Find me in app/views/artists/index.html.erb</p>

<div>
  <% @artists.each do |artist| %>
    <div><%= artist.name %></div>
    <!-- <div><%= link_to coupon.coupon_code, coupon_path(coupon) %></div> -->
  <% end %>
</div>
