<h1>New Artist Form</h1>

<%= form_for(@artist) do |f| %>
  <label for="artist_name">Artist: </label>
  <%= f.text_field :name %><br>
  <label for="artist_bio">Bio: </label>
  <%= f.text_area :bio %><br>

  <%= f.submit %>
<% end %>
