<h3>Artist Form</h3>

<%= form_tag artists_path do %>
  <label>Artist Name:</label><br>
  <%= text_field_tag :"artist[name]" %><br>

  <label>Artist Bio:</label><br>
  <%= text_field_tag :"artist[bio]" %><br>

  <%= submit_tag "Create Artist" %>
<% end %>
