<%= form_for(@artist) do |f| %>
  <label>Artist name:</label><br>
  <%= f.text_field :name %><br>

  <label>Artist bio:</label><br>
  <%= f.text_field :bio %><br>
  <%= f.submit "Create Artist" %>
<% end %>
