<h1>New Artist Form</h1>
<%= form_for(@artist) do |a| %>
<label>Artist's Name</label><br>
<%= a.text_field :name %><br>
<label>Artist's Bio</label>
<%= a.text_area :bio %><br>
<%= a.submit %>
<% end %>
