<h1>Artist Form</h1>
<%= form_for(@artist) do |f| %>
  <%= f.text_field :name, :placeholder => "Enter name" %><br/>
  <%= f.text_area  :bio,  :placeholder => "Enter bio" %><br/>
  <%= f.submit %>
<% end %>