<h1><%=@artist.name%></h1>
<p><%=@artist.bio%></p>
<%@artist.songs.each do |song| %>
<ul>
  <li><%=link_to song.name, song_path(song)%></li>
</ul>
<%end%>

<p><%= link_to "Edit Artist", edit_artist_path(@artist) %></p>
