<%@songs.each do |song|%>
<p><%= link_to song.name, song_path(song.id) %></p>
<p><%= link_to song.genre, genre_path(song.genre_id) %></p>
<p><%= link_to song.artist, artist_path(song.artist_id) %></p>
<%end%>