<h1> Songs </h1>

<ul>
  <% @songs.each do |song| %>
    <li>
      <p> <%= link_to song.name, song_path(song) %> -
      <%= link_to song.artist.name, artist_path(song.artist) %> -
      <%= link_to song.genre.name, genre_path(song.genre) %> </p>
    </li>
  <% end %>
</ul>