<% @songs.each do |song| %>
  <h3><%= song.name %></h3>
  <p><%= link_to song.genre.name, genre_path(song.genre) %></p>
  <p><%= link_to song.artist.name, artist_path(song.artist) %></p>
  <br>
<% end %>