<h1>All Songs:</h1>

<% @songs.each do |song| %>
  <p><%= link_to song.name, song_path(song) %></p>
  <p>Artist: <%= link_to song.artist.name, artist_path(song.artist) %></p>
  <p>Genre: <%= link_to song.genre.name, genre_path(song.genre) %></p>
<% end %>