<h1>Songs</h1>
 <% @songs.each do |song| %>
  <div class="song">
    <p class="song__name">
      <%= song.name %>
    </p>
    <%= link_to song.artist.name, artist_path(song.artist) if song.artist %>
    <%= link_to song.genre.name, genre_path(song.genre) if song.genre %>
  </div>
<% end %>
