<% @songs.each do |song| %>
  <h3><%= song.name %></h3>
  <% if song.artists %>
    <p><%= link_to song.artists.name, artist_path(song.artists) %></p>
  <% end %>
  <% if song.genre %>
    <p><%= link_to song.genre.name, genre_path(song.genre) %></p>
  <% end %>
  <br>
<% end %>