<% @songs.each do |t| %>
  <h1><%= t.name %></h1>
  <a href="<%= song_path(t.id) %>"></a>
  
  <% g = Genre.find(t.genre_id) %>
  <a href="<%= genre_path(g) %>"></a>
  
  <% a = Artist.find(t.artist_id) %>
  <a href="<%= artist_path(a) %>"></a>
  
  
<% end %>

