<h1>Song Form</h1>
<% form_tag songs_path %>
  <label>Song Title</label>
  <%= text_field_tag :song[:title] %>
  
  <label>Artist Id</label>
  <%= number_field_tag :song[:artist_id] %>
  
  <label>Genre Id</label>
  <%= number_field_tag :song[:genre_id] %>
  <%= submit_tag "Submit Song" %>
<% end %>