<h1><%= @song.name %></h1>

<% if @song.artist != nil %>
  <h3>Artist: <%= link_to @song.artist.name, artist_path(@song.artist) %></h3>
<% end %>

<% if @song.genre != nil %>
  <h3>Gerne: <%= link_to @song.genre.name, genre_path(@song.genre) %></h3>
<% end %>
