<h1>My Song</h1>
<h1>My Song Name: <%= @song.name %></h1>
<h1>My Artist Name: <%= link_to @artist.name, artist_path(@artist) %></h1>
<h1>My Genre Name: <%= link_to @genre.name, genre_path(@genre) %></h1>
