<h1><%= @song.name %></h1>

<p>Genre: <%= link_to @song.genre.name, genre_path(@song.genre) %></p>
<!-- I wonder if it's better to refactor @song.genre.name to @song.get_genre? -->

<p>Artist: <%= link_to @song.artist.name, artist_path(@song.artist) %></p>
