<h1>My Song</h1>
<p>My song name:<%=@song.name%></p>
<%if @song.artist%>
<%= link_to @song.artist.name, artist_path(@song.artist) %>
<%end%>
<%if @song.genre%>
<%= link_to @song.genre.name, genre_path(@song.genre) %>
<%end%>



<h1>My edit</h1>
