<h1><%= @song.name %></h1>
<% if @song.genre_id != nil && @song.genre_id != "" %>
<p><%= link_to "#{Genre.find(@song.genre_id).name}", genre_path(@song.genre_id) %></p>
<% end %>
 <% if @song.artist_id != nil && @song.artist_id != "" %>
<p><%= link_to "#{Artist.find(@song.artist_id).name}", artist_path(@song.artist_id) %></p>
<% end %>