<!-- display each of the song's genre and artist, and link to the respective genre and artist show pages. -->

<h1><%= @song.name %></h1>

	<%= link_to @song.artist, artist_path(@artist.name) if @song.artist %><br>
	<%= link_to @song.genre, genre_path(@genre) if @song.genre %><br>



