<h1>My Song</h1>
<h1><%= @song.name %></h1>
<br>
<p>My Genre: <%= link_to @song.genre.name, genre_path(@song.genre) %></p>
<p>My Artist: <%= link_to @song.artist.name, artist_path(@song.artist) %></p>
