<!-- display each of the song's genre and artist, and link to the respective genre and artist show pages. -->

<h1><%= @song.name %></h1>

	<p><%= link_to @song.artist, artist_path(@artist) %></p>
	<p><%= link_to @song.genre, genre_path(@genre) %></p>
	



