<h1><%= @song.name %></h1>
<% if @song.artist %>
<p><%= link_to @song.artist.name, artist_path(@song.artist) %></p>
<% end %>
<% if @song.genre %>
<p><%= link_to @song.genre.name, genre_path(@song.genre) %></p>
<% end %>
