<h1><%= @song.name %></h1>
<% if @song.artist %>
<%= link_to @song.artist.name, artist_path(@song.artist) %>
<% end %>
<% if @song.genre %>
<%= link_to @song.genre.name, genre_path(@song.genre)%>
<% end %>
