<h1><%= @song.name %></h1>

<div>
<% @genres.each do |genre| %>
	<div><%= link_to genre.name, genre_path(genre) %> </div>
<% end %>
</div>

<div>
<% @artists.each do |artist| %>
	<div><%= link_to artist.name, artist_path(artist) %> </div>
<% end %>
</div>