<h1><%= link_to @song.name, songs_path(@song.id) %></h1>
<h3>Song: <%= link_to @artist.name, artists_path(@artist.id) %><br>
Genre: <%= link_to @genre.name, genres_path(@genre.id) %></h3>
<%= link_to "Songs Home", songs_path %>
