<h1><%= @song.name %></h1>
<p><strong>Artist: </strong><%= link_to @song.artist.name, artist_path(@song.artist) %></p>
<p><strong>Genre: </strong><%= link_to @song.genre.name, genre_path(@song.genre) %></p>
