<h1><%= @song.name %></h1>
<ul>
  <li>My Artist: <%= link_to @song.artist.name, artist_path(@song.artist) %></li>
</ul>
<ul>
  <li>My Genre: <%= link_to @song.genre.name, genre_path(@song.genre) %></li>
</ul>
