<!DOCTYPE html>
<html>
<head>
  <title>BeatsByRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
    th, td {
        padding: 2px;
    }
    th {
        text-align: left;
    }
  </style>
</head>
<body>

<%= yield %>

</body>
</html>
